{% extends 'posts/base.html' %}
{% load static %}


{% block content %}
<div class="container">
    {% for post in posts %}
    <div class="row justify-content-center mb-4" id="post-{{ post.pk }}">
        <div class="col col-lg-6">
            <div class="card">
                <div class="card-header">
                    <div style="width: 30px; height: 30px; display: inline-block;">
                        <a href="#" class="rounded-circle profile_img"  style="background-image: url('{{ post.author.img_profile_url }}');"></a>
                    </div>
                    <span>{{ post.author }}</span>
                </div>
                <div class="card-body">
                    <img src="{{ post.photo.url }}" alt="" class="card-img-top">
                </div>
                <!--
                    버튼의 텍스트에
                    post_like_toogle의 좋아요 TOGGGLE 처리
                 -->
                 <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <form action="{% url 'posts:post_like_toggle' post_pk=post.pk %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <button type="submit"><a href="#">
                                    {% if user in post.like_users.all %}
                                    <i class="fas fa-heart nav_far"></i>
                                    {% else %}
                                    <i class="far fa-heart nav_far"></i>
                                    {% endif %}
                                </a></button>
                                <span>{{ post.like_users.all|join:", " }} 이 좋아합니다.</span>
                            </div>
                        </form>
                    </li>
                </ul>
                {% if post.comment_set.all %}
                <ul class="list-group list-group-flush">
                    {% for comment in post.comment_set.all %}
                    <li class="list-group-item text-center">
                        <span class="float-left">
                            <div style="width: 30px; height: 30px; display: inline-block;">
                                <a href="#" class="rounded-circle profile_img"  style="background-image: url('{{ post.author.img_profile_url }}');"></a>
                            </div>
                            <span>{{ post.author }}</span>
                        </span>
                        <span class="text-center">{{ comment.html|safe }}</span>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}

                <!--
                    댓글 작성 form 구현
                    1. 유저가 로그인 한 경우에만 보여지도록 함
                    2. 내부 요소는 textarea와 버튼 하나
                    3 action 속성의 값을 위의 'comment_create' view에 해당하는 URL로 지정
                -->

                {% if user.is_authenticated %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-center">
                        <form action="{% url 'posts:comment_create' post_pk=post.pk %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ comment_form.content }}
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary form-control">댓글</button>
                            </div>
                        </form>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}